<form id="new-todo-form" on="submit">
  <div class="form-group">
    <label>Title</label>
    {{input type="text" value=title class="form-control" placeholder="Add ToDo......."}}
  </div>
  <div class="form-group">
    <label>Due Date</label>
    {{input type="date" value=date class="form-control" placeholder="Add ToDo......."}}
  </div>
  <div class="form-group">
    <label>Body</label>
    {{textarea value=body class="form-control" placeholder="Add Description of your task...."}}
  </div>
  <button {{action 'addTodo'}} class="btn btn-primary">
    Submit
  </button>
  {{#link-to 'todos' class="btn btn-default"}}Close{{/link-to}}
</form>